<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.connections.mappers.ArtisanMapper">


    <!-- Query to Retrieve All Artisans -->
    <select id="getAllArtisans" resultType="com.home.connections.dto.ArtisanDto">
        SELECT
            artisan_id AS artisanId,
            artisan_name AS artisanName,
            artisan_type AS artisanType
        FROM ARTISAN
        ORDER BY artisan_id ASC
    </select>

    <!-- Query to Retrieve Artisans by Type -->
    <select id="getArtisansByType" resultType="com.home.connections.dto.ArtisanDto">
        SELECT
            artisan_id AS artisanId,
            artisan_name AS artisanName,
            artisan_type AS artisanType
        FROM ARTISAN
        WHERE LOWER(artisan_type) = LOWER(#{artisanType})
        ORDER BY artisan_id ASC
    </select>

    <!-- Retrieve players associated with a specific artisan -->
    <select id="getPlayersByArtisan" parameterType="string" resultType="com.home.connections.dto.PlayerDto">
        SELECT
            p.player_id AS playerId,
            p.player_name AS playerName,
            p.primary_archetype_id AS primaryArchetypeId,
            p.is_active AS isActive
        FROM PLAYER p
                 INNER JOIN PLAYER_ARTISAN pa ON p.player_id = pa.player_id
                 INNER JOIN ARTISAN a ON pa.artisan_id = a.artisan_id
        WHERE LOWER(a.artisan_name) = LOWER(#{artisanName})
    </select>


</mapper>