<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.connections.mappers.PlayerMapper">


    <select id="getAllPlayers" resultType="com.home.connections.dto.PlayerDto">
        SELECT
            p.player_id AS playerId,
            p.player_name AS playerName,
            pa.archetype_name AS archetypeName
        FROM PLAYER p
                 INNER JOIN PRIMARY_ARCHETYPE pa ON p.primary_archetype_id = pa.primary_archetype_id
        WHERE p.IS_ACTIVE = 'Y'
        ORDER BY p.player_name ASC
    </select>

    <!-- Query to Get Players by Archetype Name -->
    <select id="getPlayersByArchetype" resultType="com.home.connections.dto.PlayerDto" parameterType="String">
        SELECT
            p.player_id AS playerId,
            p.player_name AS playerName,
            pa.archetype_name AS archetypeName
        FROM PLAYER p
                 INNER JOIN PRIMARY_ARCHETYPE pa ON p.primary_archetype_id = pa.primary_archetype_id
        WHERE (LOWER(pa.archetype_name) = LOWER(#{archetypeName})) AND p.IS_ACTIVE = 'Y'
        ORDER BY p.player_name ASC
    </select>

    <select id="getPlayersFull" resultMap="PlayersFullResultMap">
        SELECT
            p.player_id AS playerId,
            p.player_name AS playerName,
            a.archetype_name AS archetypeName,
            pa.artisan_level AS artisanLevel,
            ar.artisan_id AS artisanId,
            ar.artisan_name AS artisanName,
            ar.artisan_type AS artisanType
        FROM PLAYER p
                 LEFT JOIN PRIMARY_ARCHETYPE a ON p.primary_archetype_id = a.primary_archetype_id
                 LEFT JOIN PLAYER_ARTISAN pa ON pa.player_id = p.player_id
                 LEFT JOIN ARTISAN ar ON pa.artisan_id = ar.artisan_id
        WHERE p.IS_ACTIVE = 'Y'
        ORDER BY p.player_name
    </select>

    <select id="getPlayerByName" resultMap="PlayersFullResultMap" parameterType="String">
        SELECT
            p.player_id AS playerId,
            p.player_name AS playerName,
            a.archetype_name AS archetypeName,
            pa.artisan_level AS artisanLevel,
            ar.artisan_id AS artisanId,
            ar.artisan_name AS artisanName,
            ar.artisan_type AS artisanType
        FROM PLAYER p
                 LEFT JOIN PRIMARY_ARCHETYPE a ON p.primary_archetype_id = a.primary_archetype_id
                 LEFT JOIN PLAYER_ARTISAN pa ON pa.player_id = p.player_id
                 LEFT JOIN ARTISAN ar ON pa.artisan_id = ar.artisan_id
        WHERE (LOWER(p.player_name) = LOWER(#{playerName})) AND p.IS_ACTIVE = 'Y'
        ORDER BY p.player_name
    </select>

    <resultMap id="PlayersFullResultMap" type="com.home.connections.dto.PlayerDto">
        <id property="playerId" column="playerId" />
        <result property="playerName" column="playerName" />
        <result property="archetypeName" column="archetypeName" />
        <collection property="artisans" ofType="com.home.connections.dto.ArtisanDto">
            <id property="artisanId" column="artisanId" />
            <result property="artisanName" column="artisanName" />
            <result property="artisanType" column="artisanType" />
        </collection>
    </resultMap>




</mapper>